/* External CSS style file */

* {
   box-sizing: border-box;
}

body {
   font-family: Arial;
   padding: 10px;
   background: #f1f1f1;
}

/* Header (div) formatting */
.header {
   padding: 10px;
   text-align: center;
   background-color: #cccccc;
   color: #000000;
}

.header h1 {
   font-size: 50px;
}

.topnav h2 {
   font-size: 25px;
   font-family: comfortaa, sans-serif;
   text-align: left;
   color: #fff;
   float: left;
   padding: 0px 2px;
}



/* Make the logo have a rounded edge */
img.top-image {
   vertical-align: middle;
}

/* CSS Layout from W3Schools: https://www.w3schools.com/css/css_templates.asp */
/* Style the top navigation bar */
.topnav ul {
   list-style: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #4F7302;
   position: fixed;
   top: 0;
   width: 100%;
 }

 .topnav ul li img {
   height: 40;
   width: 40;
   float: left;
   object-fit: contain;
   object-position: center;
   display: block;
   padding: 2px 2px;
 }
 

.material-symbols-outlined {
  font-size: 80px;
  width: 40;
  color: #fff;
  float: left;
  padding: 2px 4px;
  font-variation-settings: 
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24,
}

 
 /* Style the topnav links */
 .topnav ul li a {
   float: right;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }
 
 /* Change color on hover */
 .topnav ul li a:hover {
   background-color: #fff;
   color: #fff;
 }
 
 .topnav ul li a:hover:not(.active) {
   background-color: #375001;
 }
 
 .active {
   background-color: #04AA6D;
 }

 /* Style the content */
 .content {
   background-color: #ddd;
   padding: 10px;
 }
 
 /* Style the footer */
 .footer {
   background-color: #cccccc;
   padding: 10px;
 }

 .persona_thumbnail{
   
 }
