/* External CSS style file */

* {
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
   padding: 0;
   margin: 0;
   background: #f1f1f1;
}

/* Header (div) formatting */
.header-section {
   padding: 20px;
   margin-top: 20px;
   text-align: center;
   background-color: #cccccc;
   color: #000000;
}

#header-grid {
  display: flex;
  align-items: flex-start; 
}

.header h1 {
  display: block;
  font-size: 50px;
  padding: 10px;
  margin-left: 10%;
}

img.top-image {
  vertical-align: middle;
  height: 500;
  width: 500;
  object-fit: cover;
  padding: 25px;
  margin-right: 10%;
}

.button {
  background-color: #4F7302; /* Green */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #4F7302;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: white; 
  color: #4F7302;
}

/* Style the top navigation bar */
.topnav ul {
  list-style: none;
  margin: 0;
  padding: 0px 20px;
  overflow: hidden;
  background-color: #4F7302;
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
}

.topnavimg {
  color: #fff;
  height: 50;
  width: 50;
  float: left;
  object-fit: contain;
  object-position: 50% 50%;
  display: block;
  padding: 5px;
}

 /* Change color on hover */
 .topnav ul li a:hover {
   background-color: #fff;
   color: #fff;
 }
 
 .topnav ul li a:hover:not(.active) {
   background-color: #375001;
 }

  /* Style the topnav links */
.topnav ul li a {
 float: right;
 display: block;
 color: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

.topnav h2 {
   font-size: 25px;
   font-family: comfortaa, sans-serif;
   text-align: left;
   color: #fff;
   float: left;
   padding: 0px 10px;
   margin: 0px;
   margin-left: 3.5%;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
}

/* CSS Layout from W3Schools: https://www.w3schools.com/css/css_templates.asp */
 .active {
   background-color: #04AA6D;
 }

 /* Style the content */
 .content {
   background-color: #ddd;
   padding: 10px;
 }
 
 /* Style the footer */
 .footer {
   background-color: #cccccc;
   padding: 10px;
 }

 .persona_thumbnail{
   
 }
