/* External CSS style file */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  background: #f1f1f1;
}

/* Style the content */
.content {
  background-image: url("Background.jpg");
  background-color: #ddd;
  top: 0;
  padding: 0px;
}

/* Header (div) formatting */
.header-section {
  padding: 2%;
  margin-top: 20px;
  color: #000000;
}

#header-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header h1 {
  font-size: 50px;
  font-weight: bold;
  padding: 5px 15px;
  text-align: left;
  left: 0;
  /* margin-left: 10%; */
}

img.top-image {
  vertical-align: middle;
  height: 700;
  width: 700;
  object-fit: cover;
  padding: 20px 25px;
  margin-right: 10%;
}

.header-button {
  text-align: left;
  padding: 0 20px;
}

.damages-section {
  padding: 0px 0px 0px 1%;
}

.damages-heading-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.damages-section h2 {
  font-weight: 300;
  font-size: 40px;
  padding: 5px 15px;
  text-align: left;
  left: 0;
}

.damages-tooltip {
  border-radius: 50px 0px 0px 50px;
  background: #9FC847;
  padding: 20px;
  margin: 0;
  width: 500px;
  height: fit-content;
  text-align: right;
  object-fit: contain;
}

.damages-tooltip h3 {
  font-weight: bold;
  font-size: 25px;
  color: #000000;
  padding: 0px 15px;
  margin: 0;
  right: 0;
}

.damages-tooltip p {
  font-weight: 400;
  font-size: 18;
  color: #000000;
  padding: 5px 15px;
  margin: 0;
  right: 0;
}

.damages-tooltip h4 {
  font-weight: 300;
  font-size: 40px;
  color: #4F7302;
  padding: 0px 15px;
  margin: 0;
  right: 0;
}

.damages-tables-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.damages-table {
  padding-left: 10%;
  padding-right: 2.5%;
  width: fit-content;
  padding: 10px;
  top: 0;
  margin: 30px;
}

.damages-table table, .damages-table th, .damages-table td {
  border-top: 5px solid #4F7302;
  border-bottom: 5px solid #4F7302;
  border-collapse: collapse;
}

.damages-table th, .damages-table td {
  width: 50%;
  height: fit-content;
}

.damages-table h3 {
  font-weight: bold;
  font-size: 25px;
  color: #000000;
  text-align: center;
  margin: 0px 100px;
  padding: 15px 5px;
}

.damages-table h4 {
  font-weight: bold;
  font-size: 25px;
  color: #4F7302;
  margin: 0;
  text-align: center;
  margin: 0px 40px;
  padding: 5px 5px;
}

.damages-table h4[target="red"] {
  color: #C84747;
}

.damages-table th {
  /* visibility: collapse;  */
  display:none;
}

.damages-button {
  text-align: right;
  padding: 0 20px;
  margin-right: 10%;
}

/* Business Section */
.business-section {
  padding: 0px 0px 0px 1%;
}

.business-heading-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.business-item-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.business-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.business-button {
  text-align: left;
  padding: 0 0 0 20px;
  margin-top: 5;
}

.business-section h2 {
  font-weight: 300;
  font-size: 40px;
  padding: 5px 15px;
  text-align: left;
  left: 0;
}

.business-item h3 {
  font-weight: bold;
  font-size: 24px;
  color: #000000;
  padding: 0px 15px;
  margin: 0;
  left: 0;
}

.business-item p {
  font-weight: 400;
  font-size: 18;
  color: #000000;
  padding: 10px 15px;
  margin: 0;
  left: 0;
}

/* Button Formatting */
.button {
  background-color: #4F7302;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #4F7302;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: white;
  color: #4F7302;
}

/* Style the top navigation bar */
.topnav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0px 20px;
  overflow: hidden;
  background-color: #4F7302;
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
}

.nav-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnavimg {
  color: #fff;
  height: 50;
  width: 50;
  float: left;
  object-fit: contain;
  object-position: 50% 50%;
  display: block;
  padding: 5px;
}

/* Change color on hover */
.topnav ul li a:hover {
  background-color: #fff;
  color: #fff;
}

.topnav ul li a:hover:not(.active) {
  background-color: #375001;
}

/* Style the topnav links */
.topnav ul li a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav h2 {
  font-size: 25px;
  font-family: comfortaa, sans-serif;
  text-align: left;
  color: #fff;
  float: left;
  padding: 0px 10px;
  margin: 0px;
  margin-left: 3.5%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Style the bottom footer */
.footer ul {
  list-style: none;
  margin: 0;
  padding: 0px 20px;
  overflow: hidden;
  background-color: #4F7302;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  height: fit-content;
}

.footerimg {
  color: #fff;
  height: 50;
  width: 50;
  margin: 0 auto;
  float: left;
  object-fit: contain;
  object-position: 50% 50%;
  display: block;
  padding: 5px;
}

/* Style the footer links */
.footer ul li a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
}

.footer h2 {
  font-size: 25px;
  font-family: comfortaa, sans-serif;
  text-align: left;
  color: #fff;
  float: left;
  padding: 0px 10px;
  margin: 0px;
  margin-left: 3.5%;
  position: absolute;
  bottom: 0;
  transform: translateY(-50%);
  object-position: center;
}

.persona_thumbnail {}